<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17283411222-7aeiqkupnbof05mi7d5v2j7eflc9hdhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17283411222-7aeiqkupnbof05mi7d5v2j7eflc9hdhm</string>
	<key>API_KEY</key>
	<string>AIzaSyCwT6RXVfHT8wMst3jY3arubEnkvClD1pI</string>
	<key>GCM_SENDER_ID</key>
	<string>17283411222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manev.mikhail.Mi-sha</string>
	<key>PROJECT_ID</key>
	<string>mi-sha-meditation</string>
	<key>STORAGE_BUCKET</key>
	<string>mi-sha-meditation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17283411222:ios:aa99492af614a96fd6b437</string>
</dict>
</plist>